:root {
    /* Text */
    --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    --softRed: hsl(14, 88%, 65%);
    /* Background gradient */
    --softViolet: hsl(273, 75%, 66%);
    --softBlue: hsl(240, 73%, 65%);
    /* Neutral text */
    --veryDarkGrayishBlue: hsl(237, 12%, 33%);
    --darkGrayishBlue: hsl(240, 6%, 50%);
    /* Dividers */
    --lightGrayishBlue: hsl(240, 5%, 91%);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

.container {
    align-items: center;
    background: linear-gradient(var(--softViolet), var(--softBlue));
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: auto;
    width: 100vw;
}

.faq {
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-top: 120px;
    position: relative;
    padding: 20px 20px 50px 20px;
    width: 300px;
    -webkit-box-shadow: 0px 16px 36px -3px var(--veryDarkGrayishBlue);
    -moz-box-shadow: 0px 16px 36px -3px var(--veryDarkGrayishBlue);
    box-shadow: 0px 16px 36px -3px var(--veryDarkGrayishBlue);
}

@media (min-width: 1440px) {
    .faq {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 0px;
        width: 50%;
        max-width: 800px;
        padding: 100px;
    }
}

.faq__image {
    display: flex;
    justify-content: center;
}

@media (min-width: 1440px) {
    .faq__image {
        position: relative;
    }
}

.image__woman {
    position: absolute;
    top: -110px;
    width: 240px;
}

.image__shadow {
    position: absolute;
    top: 0;
}

.image__box {
    display: none;
}

@media (min-width: 1440px) {

    .faq__image img {
        left: -180px;
        width: 450px;
    }

    .image__woman {
        top: 0;
    }

    .image__shadow {
        top: 240px;
    }

}

.faq__title {
    font-size: 2rem;
    margin: 110px 0px 10px;
    text-align: center;
}

@media (min-width: 1440px) {
    .faq__title {
        margin-top: 0px;
        text-align: start;
    }
}

.faq__content {
    border-bottom: 1px solid var(--lightGrayishBlue);
    padding: 10px 0px;
}

.faq__question-box {
    align-items: center;
    color: var(--veryDarkDesaturatedBlue);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.faq__question-box:hover {
    color: var(--softRed);
}

.faq__question {
    font-weight: 400;
    font-size: 14px;
    padding: 10px 0px;
    width: 260px;

    transition: color .3s ease;
}

.faq__question.selected {
    font-weight: 700;
}

.faq__icon {
    transition: transform .3s ease;
}

.faq__icon.selected {
    transform: rotate(180deg);
}

.faq__answer {
    overflow: hidden;
    max-height: 0px;
    width: 260px;
    line-height: 1.5;
    color: var(--darkGrayishBlue);

    transition: max-height .3s ease;
}

@media (min-width: 1440px) {
    .faq__answer {
        width: 70%;
    }
}

.faq__answer.selected {
    max-height: 100px;
}